{% extends 'base.html' %}

{% block content %}
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">About Us</h1>
                <p class="lead text-muted mb-0">We are product oriented company which provides all type of online
                    and offline services to the citizen. We act as a project and advertisement consultant or
                    facilitators wit aid of various govt department and such emulating public sevana Kendram( net
                    seva kendra).</p>

                <h1 class="display-6 pt-2">Vision</h1>
                <p> We carry business as travel and tour agents, holiday package operations, ticket booking agent
                    domestic or international maintain owned/out sourced online travels platforms for booking or
                    reservation issue of ticket or confirmation and provide such allied services.
                    We act as a consultant agent in field of general insurance and to do distribution ,we buy sell
                    import-export trade service and deal in all types of mobile phones, accessories, mobile software
                    /applications, DTH equipments and such allied wireless/communication devices we also provide
                    mobile and DTH recharge services ,we assemble construct take on hire ,or on lease, buy, sell,
                    auction, exchange ,store ,install, work ,alter ,improve, import or export or otherwise deal in
                    all materials including raw materials ,machineries furniture, equipments, apparatus,
                    consumables, and things directly or indirectly required for the attainment of the objects of the
                    company</p>


                <h1 class="display-6 pt-2">Mision</h1>
                Our mission is to preserve nature by developing and manufacturing the maximum number of herbal
                products to the world at affordable price to all segments of society .Mainly we focus to save
                nature and secondly we are focusing on water ,it is valuable and precious source of earth .We
                have low foaming technology to save water in our daily usage .We can make cliff decrease in
                health problems causing by disease spreading germs.
                </p>

            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png"
                    alt="" class="img-fluid"></div>
        </div>
    </div>
</div>


{% endblock %}